<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Title</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Enter your Car's information</h1>
      <form action="/list" method="post">
        <label for="description">Description: <input type="text" name="description"></label>
        <label for="model">Model: <input type="text" name="model"></label>
        <label for="cost">Cost: <input type="number" name="cost"></label>
        <label for="miles">Miles: <input type="number" name="miles"></label>

        <button type="submit" name="button">Submit</button>
      </form>
    </div>

  </body>
</html>
