<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Car List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <body background="https://media.giphy.com/media/kgqCXylTvObgQ/giphy.gif">
    <div class="jumbotron">
      <h1>Here is the current car information</h1>
      @if (Model.Count == 0)
      {
        <p>We're sorry, but we’re out of stock!</p>
      }

      @foreach (var car in Model)
      {
<div class="row">
<div class="col-md-2">
        <img src="http://78.media.tumblr.com/ec39d3975517fdbcad9bf289d035fbbd/tumblr_n843inIVBW1tfir0mo1_r1_500.gif" width="100" height="70">
      </div>
      <div class="col-md-2" align="left">
        <h4>@car.GetModel()</h4>
        <h5><i>@car.GetDescription()</i></h5>
        <h4>Cost: $@car.GetCost()</h4>
        <h4>Miles: @car.GetMiles() miles</h4>
      </div>
    </div>
      }
    </div>
    <div class="well">
      <form action="/" method="post">
        <button type="submit" name="add">Add Another</button>
      </form>
      <form action="/list/clear" method="post">
        <button type="submit" name="clear">Clear List</button>
      </form>
    </div>

  </body>
</html>
